# PlatformIOのビルドファイル（絶対同期してはいけない）(ずっとしてた)
**/.pio/
**/.vscode/

# Pythonのキャッシュや仮想環境
**/__pycache__/
*.pyc
.venv/
venv/

# ログファイルやデータ（PCごとに違うため同期しない）
# workspaceも同期しない方がいいと思う
**/logs/
*.csv
Project20.code-workspace
# OSのシステムファイル
.DS_Store
Thumbs.db